<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <publisherPolicy apply="yes"/>
      <probing privatePath="Business;Components;MasterData"/>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="DefaultLookAndFeel" value="DevExpress Style"/>
    <add key="Address" value="http://localhost:6280"/>
    <add key="BaseServer" value="http://localhost:6200"/>
    <add key="ReportServer" value="http://localhost:6210"/>
    <add key="RSAKey" value="PFJTQUtleVZhbHVlPjxNb2R1bHVzPnlENDA1TEtCWjZsVUR5QThxYkdKNjFOeGZyaU1WVkF0MVlFN0k4aXg1S1lSaHFFUUdBSHNyTVVFYjBna0ZCNDJObUlEeWJhUlRRQVNRQUk1YU1xaHNSdFMydVU2MnZMTVd4aGM2MFl5bnBRc1JzOENmKytXRHFVUVlLVXJYVm5ITUJJLzFWYTFlQjVCenRad1R1WUN3MGliYzUwWWswTUE5ZjlVQ0xNQXY3az08L01vZHVsdXM+PEV4cG9uZW50PkFRQUI8L0V4cG9uZW50PjwvUlNBS2V5VmFsdWU+"/>
    <add key="DocPrint"/>
    <add key="TagPrint"/>
    <add key="BilPrint"/>
    <add key="IsMergerPrint" value="false"/>
    <add key="IsSaveUserInfo" value="true"/>
    <add key="UserName" value="admin"/>
  </appSettings>

</configuration>
