<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <publisherPolicy apply="yes" />
      <probing privatePath="Business;Components;MasterData" />
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="AppId" value="9dd99dd9-e6df-467a-8207-d05ea5581125" />
    <add key="AppName" value="因赛特多租户平台管理客户端 V1.0" />
    <add key="DefaultLookAndFeel" value="DevExpress Style" />
    <add key="AuthServer" value="http://106.15.54.245:6200" />
    <add key="BaseServer" value="http://106.15.54.245:6200" />
    <add key="DocPrint" />
    <add key="TagPrint" />
    <add key="BilPrint" />
    <add key="IsMergerPrint" value="false" />
    <add key="IsSaveUserInfo" value="true" />
    <add key="UserName" value="admin" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>